<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header-item">
        <a href="/" class="<%= path === '/'? 'active': ''%>">Projects</a>
      </li>
      <li class="main-header-item">
        <a
          href="/admin/add-project"
          class="<%= path === '/admin/add-project'? 'active': ''%>"
          >Add Project</a
        >
      </li>
    </ul>
  </nav>
</header>
