<%-include('includes/head.ejs')%>
    <link rel="stylesheet" href="/css/add-project.css" />
    <title><%=title%></title>
  </head>
  <body>
    <%-include('includes/nav.ejs')%>

    <form class="project-form" action="/admin/add-project" method="POST">
      <div class="form-control">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" />
      </div>
      <button type="submit">Add Project</button>
    </form>
    <%-include('includes/end.ejs')%>
